<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="./css/calendar.css" />


    

    <title>Basic Eats</title>
</head>
<link rel="stylesheet" href="https://mdbootstrap.com/docs/standard/extended/dropdown-checkbox/#">
<script src="https://mdbootstrap.com/docs/standard/extended/dropdown-checkbox/#"></script>
<script>

    
</script>

<body>
    <!--NAVBAR:-->
    <%- include('header.ejs') %>
    <% if(locals.msg && msg==="fail" ) { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <p class="">The username or password is incorrect</p>
        </div>
        <% } else if(locals.msg && msg==="no_recipes" ) { %>
          <div class="" role="alert">
            <p class="">Account successfully created. Please sign in</p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <% }
      %>
        <div class="container">
            <div class="row " style="margin-top:0px; padding-top: 0px;">
                <!--CALENDAR:-->
                <div class="left column col-7" style="background-color: #6f8c69; margin-top:0px; ">
                    <h1>Weekly Meal Calendar</h1>
                    <form action="/calendar/previousWeek" method="POST" style="display:inline-block">
                    <button type="submit"><image src="images/next.png"
                                        style="transform: rotate(180deg); display:inline; color: gray; opacity: .4; height: 20px; cursor: pointer;">
                                    </image></button></form>
                                    <form action="/calendar/nextWeek" method="POST" style="display:inline-block">
                                        <button type="submit"><image src="images/next.png"
                                        style="display:inline; color: gray; opacity: .4; height: 20px; cursor: pointer;">
                                    </image></button></form>
                    <div class="calendar">
                        
                        <!--Sunday-->
                        <div class="day">
                            <form action="/calendar/updateDay" method="POST">
                                <button type="submit" name="action" class="dayType" value="Sunday"><u>Sunday</u><p style="font-weight: normal; font-size: 11px">(<%= weekDates[0] %>)</p></button>
                                <button type="submit" name="action" class="meal1" value="Sunday">
                                    <% if (mealsByDay['Sunday'][1].length> 0) { %>
                                        <%= mealsByDay['Sunday'][1][0].name %>
                                            <% } else { %>
                                                no meals
                                                <% } %>
                                </button>
                                <button type="submit" name="action" class="meal2" value="Sunday">
                                    <% if (mealsByDay['Sunday'][2].length> 0) { %>
                                        <%= mealsByDay['Sunday'][2][0].name %>
                                            <% } else { %>
                                                no meals
                                                <% } %>
                                </button>

                                <button type="submit" name="action" class="meal3" value="Sunday">
                                    <% if (mealsByDay['Sunday'][3].length> 0) { %>
                                        <%= mealsByDay['Sunday'][3][0].name %>
                                            <% } else { %>
                                                no meals
                                                <% } %>
                                </button>
                            </form>
                        </div>
                        <!--Monday-->
                        <div class="day">
                            <form action="/calendar/updateDay" method="POST">
                            <button  type="submit" name="action" value = "Monday" class="dayType"><u>Monday</u><p style="font-weight: normal; font-size: 11px">(<%= weekDates[1] %>)</p></button>
                            <button type="submit" name="action" value = "Monday" class="meal1">
                                <% if (mealsByDay['Monday'][1].length> 0) { %>
                                    <%= mealsByDay['Monday'][1][0].name %>
                                        <% } else { %>
                                            no meals
                                            <% } %>
                            </button>
                            <button type="submit" name="action" value = "Monday" class="meal2">
                                <% if (mealsByDay['Monday'][2].length> 0) { %>
                                    <%= mealsByDay['Monday'][2][0].name %>
                                        <% } else { %>
                                            no meals
                                            <% } %>
                            </button>
                            <button type="submit" name="action" value = "Monday" class="meal3">
                                <% if (mealsByDay['Monday'][3].length> 0) { %>
                                    <%= mealsByDay['Monday'][3][0].name %>
                                        <% } else { %>
                                            no meals
                                            <% } %>
                            </button></form>
                        </div>
                        <!--Tuesday-->
                        <div class="day">
                            <form action="/calendar/updateDay" method="POST">
                            <button type="submit" name="action" value = "Tuesday" class="dayType"><u>Tuesday</u><p style="font-weight: normal; font-size: 11px">(<%= weekDates[2] %>)</p></button>
                            <button type="submit" name="action" value = "Tuesday" class="meal1">
                                <% if (mealsByDay['Tuesday'][1].length> 0) { %>
                                    <p class="recipeName"><%= mealsByDay['Tuesday'][1][0].name %>
                                        </p><% } else { %>
                                            no meals
                                            <% } %>
                            </button>
                            <button type="submit" name="action" value = "Tuesday" class="meal2">
                                <% if (mealsByDay['Tuesday'][2].length> 0) { %>
                                    
                                    <%= mealsByDay['Tuesday'][2][0].name %>
                                        <% } else { %>
                                            no meals
                                            <% } %>
                            </button>
                            <button type="submit" name="action" value = "Tuesday" class="meal3">
                                <% if (mealsByDay['Tuesday'][3].length> 0) { %>
                                    <%= mealsByDay['Tuesday'][3][0].name %>
                                        <% } else { %>
                                            no meals
                                            <% } %>
                            </button>
                        </form>
                        </div>
                        <!--Wednesday-->
                        <div class="day">
                            <form action="/calendar/updateDay" method="POST">
                            <button type="submit" name="action" value = "Wednesday" class="dayType"><u>Wednesday</u><p style="font-weight: normal; font-size: 11px">(<%= weekDates[3] %>)</p></button>
                            <button type="submit" name="action" value = "Wednesday" class="meal1">
                                <% if (mealsByDay['Wednesday'][1].length> 0) { %>
                                    <%= mealsByDay['Wednesday'][1][0].name %>
                                        <% } else { %>
                                            no meals
                                            <% } %>
                            </button>
                            <button type="submit" name="action" value = "Wednesday" class="meal2">
                                <% if (mealsByDay['Wednesday'][2].length> 0) { %>
                                    <%= mealsByDay['Wednesday'][2][0].name %>
                                        <% } else { %>
                                            no meals
                                            <% } %>
                            </button>
                            <button type="submit" name="action" value = "Wednesday" class="meal3">
                                <% if (mealsByDay['Wednesday'][3].length> 0) { %>
                                    <%= mealsByDay['Wednesday'][3][0].name %>
                                        <% } else { %>
                                            no meals
                                            <% } %>
                                        </button></form>
                        </div>
                        <!--Thursday-->
                        <div class="day">
                            <form action="/calendar/updateDay" method="POST">
                            <button type="submit" name="action" value = "Thursday" class="dayType"><u>Thursday</u><p style="font-weight: normal; font-size: 11px">(<%= weekDates[4] %>)</p></button>
                            <button type="submit" name="action" value = "Thursday" class="meal1">
                                <% if (mealsByDay['Thursday'][1].length> 0) { %>
                                    <%= mealsByDay['Thursday'][1][0].name %>
                                        <% } else { %>
                                            no meals
                                            <% } %>
                            </button>
                            <button type="submit" name="action" value = "Thursday" class="meal2">
                                <% if (mealsByDay['Thursday'][2].length> 0) { %>
                                    <%= mealsByDay['Thursday'][2][0].name %>
                                        <% } else { %>
                                            no meals
                                            <% } %>
                            </button>
                            <button type="submit" name="action" value = "Thursday" class="meal3">
                                <% if (mealsByDay['Thursday'][3].length> 0) { %>
                                    <%= mealsByDay['Thursday'][3][0].name %>
                                        <% } else { %>
                                            no meals
                                            <% } %>
                                        </button>
                                    </form>
                        </div>
                        <!--Friday-->
                        <div class="day">
                            <form action="/calendar/updateDay" method="POST">
                            <button type="submit" name="action" value = "Friday" class="dayType"><u>Friday</u><p style="font-weight: normal; font-size: 11px">(<%= weekDates[5] %>)</p></button>
                            <button type="submit" name="action" value = "Friday" class="meal1">
                                <% if (mealsByDay['Friday'][1].length> 0) { %>
                                    <%= mealsByDay['Friday'][1][0].name %>
                                        <% } else { %>
                                            no meals
                                            <% } %>
                            </button>
                            <button type="submit" name="action" value = "Friday" class="meal2">
                                <% if (mealsByDay['Friday'][2].length> 0) { %>
                                    <%= mealsByDay['Friday'][2][0].name %>
                                        <% } else { %>
                                            no meals
                                            <% } %>
                            </button>
                            <button type="submit" name="action" value = "Friday" class="meal3">
                                <% if (mealsByDay['Friday'][3].length> 0) { %>
                                    <%= mealsByDay['Friday'][3][0].name %>
                                        <% } else { %>
                                            no meals
                                            <% } %>
                            </button>
                        </form>
                        </div>
                        <!--Saturday-->
                        <div class="day">
                            <form action="/calendar/updateDay" method="POST">
                            <button type="submit" name="action" value = "Saturday" class="dayType"><u>Saturday</u><p style="font-weight: normal; font-size: 11px">(<%= weekDates[6] %>)</p></button>
                            <button type="submit" name="action" value = "Saturday" class="meal1">
                                <% if (mealsByDay['Saturday'][1].length> 0) { %>
                                    <%= mealsByDay['Saturday'][1][0].name %>
                                        <% } else { %>
                                            no meals
                                            <% } %>
                            </button>
                            <button type="submit" name="action" value = "Saturday" class="meal2">
                                <% if (mealsByDay['Saturday'][2].length> 0) { %>
                                    <%= mealsByDay['Saturday'][2][0].name %>
                                        <% } else { %>
                                            no meals
                                            <% } %>
                            </button>
                            <button type="submit" name="action" value = "Saturday" class="meal3">
                                <% if (mealsByDay['Saturday'][3].length> 0) { %>
                                    <%= mealsByDay['Saturday'][3][0].name %>
                                        <% } else { %>
                                            no meals
                                            <% } %>
                            </button>
                        </form>
                        </div>
                    </div>
                </div>
                <!--MEAL GENERATOR-->
                <div class="right col-4 column" style="background-color: #dddddd; display: block;">
                    <!--Text with button-->
                    <div style="display:inline; width: 100%;">
                        <h2>Meal Generator</h2>

                        <p>Click the button below to generate weekly meals:</p>
                        <form action="/calendar/generate" method="POST">
                            <label for="dietPreference">Diet Type:</label>
                            <select id="dietPreference" name="dietPreference">
                                <option value="">Regular</option>
                                <option value="vegetarian">Vegetarian</option>
                                <option value="vegan">Vegan</option>
                                <option value="gluten free">Gluten Free</option>
                            </select>
                            <br><br>
                            <label for="minCalories">Minimum Calories:</label>
                            <input type="number" id="minCalories" name="minCalories" placeholder="Enter minimum calories..." value="0">
                            <br>
                            <label for="minCalories">Maximum Calories:</label>
                            <input type="number" id="maxCalories" name="maxCalories" placeholder="Enter maximum calories..." value="3000">
                            <br>
                            <label for="minCalories">Minimum Protein:</label>
                            <input type="number" id="minProtein" name="minProtein" placeholder="Enter minimum protein..." value="0">
                            <br><br>
                            
                            <u>Generate Weekly Meals By:</u><br><br>
                            <button class="generate">Random Recipes</button>
                        </form>
                        <br>
                        <form action="/calendar/generateRecipes" method="POST">
                            <button class="generate">My Recipes</button>
                        </form>
                        <p style="padding-top:15px">Selected Day: <u><%= dayOfWeek %></u></p>
                        
                    </div>
                    <!--MealContainer classes-->
                    <!--Breakfast-->
                    <div id="mealDisplay"></div>
                   
  
                    
                    
                </div>
            </div>
            <div class="" style="margin-top:10px; display: flex;
            flex: 1;">
                <div class="" style="width:30%">
                    <br>
                    <p style="display:inline">
                     
                       
                    </p>
                </div>
                <div style="justify-content: center; position:absolute; display:flex; width: 30%; position:relative;">
                    Info
                </div>
                <div style="justify-content: center; display:flex; width: 30%; ">
                    New Recipe</div>
                <div style="justify-content: center; display:flex; width: 30%; ">
                    Delete
                </div>
            </div>
            <div class="mealContainer" style="margin-top:5px">
                <div class="mealType" style="width:30%">
                    <p style="display:inline"><b>Breakfast</b></p>
                    <br>
                    <p style="display:inline">
                     
                        <% if (selectedDay && selectedDay[1] && selectedDay[1].length> 0) { %>
                    <u><%= selectedDay[1][0].name %></u>
                    <% } else { %> no meals <% } %>
                    </p>
                </div>
                <div style="justify-content: center; position:absolute; display:flex; width: 30%; position:relative;">
                    <% if (selectedDay && selectedDay[1] && selectedDay[1].length> 0) { %>
                    <a id="dynamicLink1" href="#">Go to Recipe</a>
                   
                    <% } %>
                </div>
                <div style="justify-content: center; display:flex; width: 30%; ">
                    <form action="/calendar/newMeal" method="POST" style="display:inline-block">
                        <button
                    type="submit" name="mealType" style="background-color:white" value="1">
                    <image src="images/reload.png"
                        style="display:inline; color: gray; opacity: .4; height: 20px; cursor: pointer;">
                    </image>
                </button></form></div>
                <div style="justify-content: center; display:flex; width: 30%; ">
                    <form action="/calendar/deleteMeal" method="POST" style="display:inline-block">
                        <button
                    type="submit" name="mealType" style="background-color:white" value="1">
                    <image src="images/trash.png"
                        style="display:inline; color: gray; opacity: .4; height: 20px; cursor: pointer;">
                    </image>
                </button></form>
                </div>
            </div>
            <div class="mealContainer" style="">
                <div class="mealType" style="width:30%">
                    <p style="display:inline"><b>Lunch</b></p>
                    <br>
                    <p style="display:inline">
                     
                        <% if (selectedDay && selectedDay[2] && selectedDay[2].length> 0) { %>
                    <u><%= selectedDay[2][0].name %></u>
                    <% } else { %> no meals <% } %>
                    </p>
                </div>
                <div style="justify-content: center; position:absolute; display:flex; width: 30%; position:relative;">
                    <% if (selectedDay && selectedDay[2] && selectedDay[2].length> 0) { %>
                    <a id="dynamicLink2" href="#">Go to Recipe</a>
                    <% } %>
                </div>
                <div style="justify-content: center; display:flex; width: 30%; ">
                    <form action="/calendar/newMeal" method="POST" style="display:inline-block">
                        <button
                    type="submit" name="mealType" style="background-color:white" value="2">
                    <image src="images/reload.png"
                        style="display:inline; color: gray; opacity: .4; height: 20px; cursor: pointer;">
                    </image>
                </button></form></div>
                <div style="justify-content: center; display:flex; width: 30%; ">
                    <form action="/calendar/deleteMeal" method="POST" style="display:inline-block">
                        <button
                    type="submit" name="mealType" style="background-color:white" value="2">
                    <image src="images/trash.png"
                        style="display:inline; color: gray; opacity: .4; height: 20px; cursor: pointer;">
                    </image>
                </button></form>
                </div>
            </div>
            <div class="mealContainer" style="margin-bottom: 30px;">
                <div class="mealType" style="width:30%">
                    <p style="display:inline"><b>Dinner</b></p>
                    <br>
                    <p style="display:inline">
                     
                        <% if (selectedDay && selectedDay[3] && selectedDay[3].length> 0) { %>
                    <u><%= selectedDay[3][0].name %></u>
                    <% } else { %> no meals <% } %>
                    </p>
                </div>
                <div style="justify-content: center; position:absolute; display:flex; width: 30%; position:relative;">
                    <% if (selectedDay && selectedDay[3] && selectedDay[3].length> 0) { %>
                    <a id="dynamicLink3" href="#">Go to Recipe</a>
                    <% } %>
                </div>
            <div style="justify-content: center; display:flex; width: 30%; ">
                <form action="/calendar/newMeal" method="POST" style="display:inline-block">
                    <button
                type="submit" name="mealType" style="background-color:white" value="3">
                <image src="images/reload.png"
                    style="display:inline; color: gray; opacity: .4; height: 20px; cursor: pointer;">
                </image>
            </button></form>
                </div>
                <div style="justify-content: center; display:flex; width: 30%; ">
                    <form action="/calendar/deleteMeal" method="POST" style="display:inline-block">
                        <button
                    type="submit" name="mealType" style="background-color:white" value="3">
                    <image src="images/trash.png"
                        style="display:inline; color: gray; opacity: .4; height: 20px; cursor: pointer;">
                    </image>
                </button></form>
                </div>
            </div>
        </div>
        
        <script>
            <% if (selectedDay && selectedDay[1] && selectedDay[1].length> 0) { %>

            // Get the link element by its ID
            var link = document.getElementById('dynamicLink1');
            <% if (selectedDay[1][0].recipeid > 100) { %>
            // Set the href attribute to the URL with the recipe ID
            link.href = "/recipe_by_id?ID=" + <%= selectedDay[1][0].recipeid %>;
            <% } else { %>
            link.href = "/userrecipe_by_id?ID=" + <%= selectedDay[1][0].recipeid %>;
            <% }} %>
            <% if (selectedDay && selectedDay[2] && selectedDay[2].length> 0) { %>

            // Get the link element by its ID
            var link = document.getElementById('dynamicLink2');
            <% if (selectedDay[2][0].recipeid > 100) { %>
            // Set the href attribute to the URL with the recipe ID
            link.href = "/recipe_by_id?ID=" + <%= selectedDay[2][0].recipeid %>;
            <% } else { %>
            link.href = "/userrecipe_by_id?ID=" + <%= selectedDay[2][0].recipeid %>;
            <% }} %>
            <% if (selectedDay && selectedDay[3] && selectedDay[3].length> 0) { %>

            // Get the link element by its ID
            var link = document.getElementById('dynamicLink3');
            <% if (selectedDay[3][0].recipeid > 100) { %>
            // Set the href attribute to the URL with the recipe ID
            link.href = "/recipe_by_id?ID=" + <%= selectedDay[3][0].recipeid %>;
            <% } else { %>
            link.href = "/userrecipe_by_id?ID=" + <%= selectedDay[3][0].recipeid %>;
            <% }} %>
        </script>
</body>

