<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="./css/user_recipe.css" />
    <title>Basic Eats</title>

</head>

<body>
    <%- include('account_header', { admin: user.admin }) %>
    
    <div class="title">
        <div class="page">
            <div class="recipe-content">
                <h1 class="recipe-title">
                    <%= recipe.recipename %>
                </h1>

                <p class="recipedesc"><%- recipe.recipedesc %></p>

                <form action="/delete_userrecipe" method="post">
                    <button type="submit" name="userrecipe_delete" class="userrecipe_delete" value="<%= recipe.recipeid%>">
                        Delete Recipe
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="row">
                <div class="col total">
                    <h3>Total Time:</h3>
                    <h4>
                        <%= recipe.time %> minutes
                    </h4>
                </div>
                <div class="col total">
                    <h3>Servings:</h3>
                    <h4>
                        <%= recipe.servings %>
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="ingredients">
            <h3>Ingredients</h3>
            <%= recipe.ingredients %>
        </div>
    </div>

    <div class="row">
        <div class="col-10">
            <div class="recipe-steps">
                <%= recipe.instructions %>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>


</body>